.content {
    display: flex; /* Use flexbox layout */
    align-items: stretch; /* Stretch children to fill the container height */
    justify-content: space-between; /* Space out children */
    height: 100vh; /* Full viewport height */
    padding: 0; /* Remove padding if any */
    margin: 0; /* Remove margin if any */
}
.buttons {

        background-color: rgba(255, 255, 255, 0.8); 
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
        cursor: pointer;

    }
    
.home-background{
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
      
}

.sent-btn{
    cursor:pointer;
}

.study{
    font-size:40px;
}

/* Centered input fields */

.center-input {
    width: 300px; /* Adjust the width as needed */
    padding: 10px; /* Add padding for better appearance */
    font-size: 18px; /* Increase font size */
}

.room-buttons{
    background-color: #fff; 
    border: 1px solid #ccc; 
    padding: 5px 10px; 
    cursor: pointer; 
}

body {
        margin: 0; /* Remove any default margins */
        min-height: 100vh; /* Set minimum height for body */
}


.Username{
    font-size: 35px;
    background-color: #fff; 
    border: 1px solid #ccc; 
    padding: 5px 10px; 


}


.join {
    display: flex;
    flex-direction: row;
    width: 100%;
}


.message-box {
    flex: 1;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 10px;
    margin-right: 10px; /* Added margin-right */
    justify-content: space-between;
    max-width: 350px; /* Set maximum width */
}


.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
    
}

.inputs {
    padding: 10px;
    display: flex;
}

h2 {
    text-align: center;

}
#message {
    flex: 1;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

}


.muted {
    font-size: 10px;
    color: darkgray
}

.timer {
    position: sticky;
    left: 10px;
    top: 10px;
}


.topnav {
    overflow: hidden;
    background-color: #000000;
    position: relative;
    
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
    height: 20px;

  }
  .whiteboard-container {
    flex: 1; /* Allow the whiteboard to grow and fill the space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    
}

.clear-button {
    margin-bottom: 10px; /* Adjust the spacing between the button and the whiteboard */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}