.content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Set minimum height to cover viewport */
    /* Apply background here */
}
.buttons {

        background-color: rgba(255, 255, 255, 0.8); /* Adjust the opacity as needed */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    }
    
.home-background{
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
      
}



.study{
    font-size:40px;
}

/* Centered input fields */

.center-input {
    width: 300px; /* Adjust the width as needed */
    padding: 10px; /* Add padding for better appearance */
    font-size: 18px; /* Increase font size */
}

.room-buttons{
    background-color: #fff; 
    border: 1px solid #ccc; 
    padding: 5px 10px; 
    cursor: pointer; 
}

body {
        margin: 0; /* Remove any default margins */
        min-height: 100vh; /* Set minimum height for body */
}


.Username{
    font-size: 35px;
    background-color: #fff; 
    border: 1px solid #ccc; 
    padding: 5px 10px; 


}
/* Centered button */

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px; /* Add some margin for spacing */
}
.center-button {
    width: 40%;
    font-size: 22px;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #007bff; /* Change background color if needed */
    color: #fff; /* Change text color for better visibility */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;; /* Add some spacing between input and button */
}


.join {
    display: flex;
    flex-direction: row;
    width: 100%;
}
    .create-btn {
        width: 100%;
        font-size: 22px; /* Increase font size for emphasis */
        padding: 15px 20px; /* Increase padding for button size */
        border-radius: 10px; /* Add border radius for rounded corners */
        background-color: #007bff; /* Change background color if needed */
        color: #fff; /* Change text color for better visibility */
        border: none; /* Remove border for a cleaner look */
        cursor: pointer;
        transition: background-color 0.3s ease;
    
}

.message-box {
    position: absolute;
    border-color: rgb(0, 110, 0);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 30vw;
    align-items: stretch;
    top: 10px;
    right: 10px;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
    
}

.inputs {
    padding: 10px;
    display: flex;
}

h2 {
    text-align: center;

}
#message {
    flex: 1;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

}


.muted {
    font-size: 10px;
    color: darkgray
}

.timer {
    position: absolute;
    left: 10px;
    top: 10px;
}
/*
.whiteboard {
    
}



#whiteboardCanvas {
    border: 1px solid #000; 
    display: block; 
    margin-bottom: 10px; 
}


.whiteboard button {
    background-color: #fff; 
    border: 1px solid #ccc; 
    padding: 5px 10px; 
    cursor: pointer; 
}/*/
