    {% extends 'base.html' %}
    {% block content %}
    <div class = "timer"> 

<h1>Settable Countdown Timer</h1>
<div>
    <label for="duration">Set Countdown Duration (seconds):</label>
    <input id="duration" name="duration">
    <button onclick="setTimer()">Set Timer</button>
</div>
<div id="timer"></div>
<div>
    <button onclick="startTimer()">Start Timer</button>
    <button onclick="stopTimer()">Stop Timer</button>
</div>
</div>
<canvas id="whiteboard" width="800" height="600" style="border: 5px solid black;"></canvas>
<script src="{{ url_for('static', filename='whiteboard.js') }}"></script>
<script>
//function hideWhiteboard() {
    //const whiteboard = document.getElementById('whiteboard');
    //whiteboard.style.display = 'none'; 

  //}
  //function showWhiteboard() {
   // const whiteboard = document.querySelector('.whiteboard');
    //whiteboard.style.display = 'block'; 
  //}
 </script>
  
<script src="{{ url_for('static', filename='timer.js') }}"></script>
<script src="{{ url_for('static', filename='whiteboard.js') }}"></script>

</div>
</div>
<div class = "message-box">
    <h2>Chat Code: {{code}}</h2>
    <div class = "messages" id="messages"> </div>
    <div class = "inputs">
        <input type = "text" rows = "3" placeholder="Message" name = "message" id = "message"/>
        <button type = "button" name = "send" id = "sent-btn" onClick = "sendMessage()">
            Send 
        </button>
    </div>
</div>
<script type = "text/javascript">
    var socketio = io();
    const messages = document.getElementById("messages")
    const createMessage = (name, msg, time) => {
        const content = `
        <div class = "text">
        <div>
            <span>
                <strong>${name}</strong>: ${msg}
            </span>
            <span class = "muted">
                ${time}
        </div>

            `;
            messages.innerHTML += content;
        }
        socketio.on("message", (data) => {
            createMessage(data.name, data.message, data.time);
            
        });
        const sendMessage = () => {
            const message = document.getElementById("message")
            if (message.value == "") return;
            socketio.emit("message", {data: message.value})
            message.value = "";
        }
    </script>
    {% for msg in messages %}
        <script> type = "text/javascript"
            createMessage("{{msg.name}}", "{{msg.message}}", "{{msg.time}}");
        </script>
    {% endfor %}
    {% endblock %}

